{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-param-reassign": "off",
    "valid-jsdoc": "error",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": false
      }
    }]
  }
}
